<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabset [nzAnimated]="false" class="tabs" (nzSelectChange)="switch($event)">
    <nz-tab [nzTitle]="'app.login.tab-login-credentials' | translate">
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input nz-input formControlName="userName" placeholder="Please enter your username" />
          </nz-input-group>
          <nz-form-explain *ngIf="userName.dirty && userName.errors">
            {{ 'Please enter username!' | translate }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="lock">
            <input nz-input type="password" formControlName="password" placeholder="Please enter your password" />
          </nz-input-group>
          <nz-form-explain *ngIf="password.dirty && password.errors">
            {{ 'Please enter password!' | translate }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="file">
            <input nz-input formControlName="pemFile" placeholder="Choose your pem file" readonly="true" class="width-70"/>
            <button nz-button class="width-20" nzSize="large" type="button" (click)="choosePemFile()" style="float: right;">选择</button>
          </nz-input-group>
          <nz-form-explain *ngIf="pemFile.dirty && pemFile.errors">
            {{ 'Please choose legal pem file!' | translate }}
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">{{ 'app.login.remember-me' | translate }}</label>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock>
      {{ 'app.login.login' | translate }}
    </button>
  </nz-form-item>
</form>
