<div class="container">
  <div class="menu-items-container">
    <mm-item-pane>
      <ng-template #content><a href="http://192.168.253.9:9092/admin/login.jsp" target="_blank">故障维修建模子系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="http://192.168.253.11:4203/iot-knowledge-front/#/passport/login" target="_blank">物联网知识子系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="http://192.168.253.11:4200/#/passport/login" target="_blank">光纤授时监控系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="https://192.168.253.10:4433/#/usertable" target="_blank">安全管理系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="http://192.168.253.11:8084/jinFang_Boiler_war%20exploded/" target="_blank">光纤授时报表子系统</a></ng-template>
    </mm-item-pane>
  </div>
</div>
