<div class="container">
  <div class="menu-items-container">
    <mm-item-pane>
      <ng-template #content><a href="http://www.baidu.com" target="_blank">物联网智能服务平台时间协同子系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="http://www.baidu.com" target="_blank">物联网知识子系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="/#/monitor-display" target="_blank">光纤授时监控系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="http://www.baidu.com" target="_blank">安全管理系统</a></ng-template>
    </mm-item-pane>
    <mm-item-pane>
      <ng-template #content><a href="http://www.baidu.com" target="_blank">光纤授时报表子系统</a></ng-template>
    </mm-item-pane>
  </div>
</div>
