<page-header>
  <!-- 设置按钮 -->
  <div class="ww-setting-box">
    <button nz-button (click)="autoExpand()" col="3" nzType="primary">自动延展</button>
    <button nz-button
            (click)="_homeSettingCmpt.toggleSettingWindow('160px',transitionDuration,margin,unit,dimension,alwaysMax)"
            col="3">布局设置
    </button>
  </div>
  <!-- 设置菜单 -->
  <ww-mashup-setting #homeSetting [margin]="margin"
                     [newDimension]="dimension"
                     [unit]="unit"
                     [transitionDuration]="transitionDuration"
                     [alwaysMax]="alwaysMax"
                     (applyArgs)="applyArgs($event)">
  </ww-mashup-setting>
</page-header>


<div id="mashup">

  <!-- mashup定位区域 -->
  <div id="mashup-area" [style.transitionDuration]="transitionDuration + 'ms'">
    <!-- 占位floor -->
    <div class="mashup-floor" *ngFor="let floor of _map;let y = index"
         [ngStyle]="{height: _blockHeight}">
      <!-- 占位block -->
      <div class="mashup-block" [ngStyle]="{width: _blockWidth}" *ngFor="let block of floor;let x = index;"
           [id]="'[' + x + ', ' + y + ']'">
      </div>
    </div>
  </div>

  <!-- mashup组件区域 -->
  <div id="mashup-content">

    <!-- 提示框 -->
    <div class="location-tip" id="location-tip"></div>

    <!--    data-begin="[1, 0]" data-size="[1, 1]-->
    <!-- 正在运行设备数量 -->
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="runningDeviceAccount">
      <ng-template #title>
        <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
        正在运行设备数量
      </ng-template>
      <ng-template #content>
        <ww-running-device-number></ww-running-device-number>
      </ng-template>
    </ww-home-widget>

    <!-- 集中故障告警（季度） -->
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="centralizedFaultWaring">
      <ng-template #title>
        <i nz-icon nzType="alert" nzTheme="outline"></i>
        集中故障告警（季度）
      </ng-template>
      <ng-template #content>
        <ww-centralized-fault-warning></ww-centralized-fault-warning>
      </ng-template>
    </ww-home-widget>

    <!-- 系统传输质量看板 -->
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="transmissionQualityBoard">
      <ng-template #title>
        <i nz-icon nzType="fund" nzTheme="outline"></i>
        系统传输质量看板
      </ng-template>
      <ng-template #content>
        <ww-transmission-quality-board></ww-transmission-quality-board>
      </ng-template>
    </ww-home-widget>

    <!-- 站点分布 -->
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="siteDistribution">
      <ng-template #title><i nz-icon nzType="global" nzTheme="outline"></i>
        站点分布
      </ng-template>
      <ng-template #content>
        <app-baidu-site-distribution></app-baidu-site-distribution>
      </ng-template>
    </ww-home-widget>

    <!-- 热力地图 -->
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="heatMap">
      <ng-template #title><i nz-icon nzType="heat-map" nzTheme="outline"></i>
        热力地图
      </ng-template>
      <ng-template #content>
        <app-baidu-heat-map style="display:block; height: calc(100% + 20px)"></app-baidu-heat-map>
      </ng-template>
    </ww-home-widget>

    <!-- 主要干线传输稳定度 -->
    <ww-home-widget _draggable="true" [resize]="_resize" [settingList]="['refreshDelay', 'errorColor']"
                    id="mainWireStability">
      <ng-template #title>
        <i nz-icon nzType="project" nzTheme="outline"></i>
        主要干线传输稳定度
      </ng-template>
      <ng-template #content>
        <ww-main-wire-stability #mainWireStability></ww-main-wire-stability>
      </ng-template>
    </ww-home-widget>

    <!-- 监控组件  -->
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="siteAccount">
      <ng-template #title>
        <i nz-icon nzType="gold" nzTheme="outline"></i>
        站点数目
      </ng-template>
      <ng-template #content>
        <ww-time-service-site-info></ww-time-service-site-info>
      </ng-template>
    </ww-home-widget>

    <!-- 访客组件  -->
    <!--
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="visitorAccount">
      <ng-template #title>
        <i nz-icon nzType="team" nzTheme="outline"></i>
        访客
      </ng-template>
      <ng-template #content>
        <ww-visitor-number></ww-visitor-number>
      </ng-template>
    </ww-home-widget>
    -->

    <!-- 设备维护组件 -->
    <!--
    <ww-home-widget _draggable="true" [resize]="_resize" id="maintenanceCard">
      <ng-template #title>
        <i nz-icon nzType="tool" nzTheme="outline"></i>
        设备维护
      </ng-template>
      <ng-template #content>
        <ww-site-maintenance-card></ww-site-maintenance-card>
      </ng-template>
    </ww-home-widget>
    -->

    <!-- 监控组件  -->
    <ww-home-widget _draggable="true" [resize]="_resize"
                    id="siteMaintenanceAccount">
      <ng-template #title>
        <i nz-icon nzType="medicine-box" nzTheme="outline"></i>
        设备数据总览
      </ng-template>
      <ng-template #content>
        <ww-site-radar></ww-site-radar>
      </ng-template>
    </ww-home-widget>

    <!-- 外部文件 -->
    <ww-home-widget *ngFor="let key of _Object.keys(_localFileViews)" _draggable="true" [resize]="_resize"
                    data-size="[0, 0]" [fileViewerId]="key"
                    (close)="closeFileViewer($event)" [settingList]="_localFileViews[key].settingList"
    >
      <ng-template #title>
        <i nz-icon nzType="file" nzTheme="outline"></i>
        {{_localFileViews[key].file.name}}
      </ng-template>
      <ng-template #content>
        <ww-file-viewer #fileViewer [file]="_localFileViews[key].file"
                        [fileViewerId]="_localFileViews[key].fileViewerId"></ww-file-viewer>
      </ng-template>
    </ww-home-widget>
  </div>

</div>
