<!--  <nz-table class="mainline-table" #basicTable [nzData]="listOfData" [nzShowPagination]="false"-->
<!--            style="height: 100%; overflow-y: auto; overflow-x:hidden">-->
<!--    <thead>-->
<!--    <tr class="tr-color">-->
<!--      <th>位置</th>-->
<!--      <th>传输速率</th>-->
<!--      <th>工作状态</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let data of basicTable.data">-->
<!--      <td>{{ data.name }}</td>-->
<!--      <td>{{ data.fValue }}</td>-->
<!--      <td [style.color]="data.status === '1' ? 'green': 'red'">{{ data.status === '1' ? '正常' : '异常' }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </nz-table>-->


<!-- 不带翻页 -->
<div class="ww-table-frame">
  <table>
    <thead>
    <tr [ngStyle]="{height: _ele.nativeElement.parentNode.offsetHeight * 0.23 + 'px', fontSize: _ele.nativeElement.parentNode.offsetHeight * 0.23 * 0.4 + 'px'}">
      <th>位置</th>
      <th>传输速率</th>
      <th>工作状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of listOfData" [ngStyle]="{height: _ele.nativeElement.parentNode.offsetHeight * 0.19 + 'px', fontSize: _ele.nativeElement.parentNode.offsetHeight * 0.19 * 0.4 + 'px'}">
      <td>{{ data.name }}</td>
      <td>{{ data.fValue }}</td>
      <td [style.color]="data.status === '1' ? 'green': errorColor">{{ data.status === '1' ? '正常' : '异常' }}</td>
    </tr>
    <div *ngIf="!listOfData">空空如也</div>
    </tbody>
  </table>

</div>












