//.mainline-table {
//  padding: 10px;
//  background: #fff;
//  //width: 400px;
//  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
//  tr {
//    height:20%;
//    th, td {
//      text-align: center;
//    }
//  }
//}
//.tr-color{
//  th, td{
//    //background: #e3e3e3 !important;
//  }
//}


//不带翻页
.ww-table-frame {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: relative;
  // 表格
  table {
    width: 100%;
    height: 100%;
    // 表头
    thead {
      tr {
        //height: 50px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.85);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }

      th {
        font-weight: 500;
      }
    }

    // 表元
    tbody {
      tr {
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}




